<div class="about-area pt-120">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="about-left">
          <div class="about-img">
            <img src="assets/img/aboutUs.jpg" alt="">
          </div>
          <div class="about-left-content">
            <h5>6+</h5>
            <span>Años de experiencia</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-right">
          <div class="site-header">
            <span class="site-title-tagline">Sobre nosotros</span>
            <h2 class="site-title">Conectándote con el mundo con la mejor comodidad</h2>
          </div>
          <p class="about-text">En Fenix Tex, nos dedicamos al transporte terrestre de pasajeros,
            conectando Chihuahua, Chih., con importantes destinos en Estados Unidos, como Odessa, Dallas y McKinney,
            TX. Nuestro compromiso es ofrecer un servicio de alta calidad, garantizando puntualidad, seguridad y
            comodidad en cada viaje.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about-us mt-5">
  <section class="section mission">
    <div class="content-container">
      <div class="text-content">
        <h1>Misión</h1>
        <p>Somos una empresa líder en servicios de transporte terrestre de pasajeros,
          comprometida en brindar a nuestros clientes un servicio de pasajeros con un
          nivel de alta calidad en todos nuestros servicios, propiciando confianza y
          permanencia en nuestros clientes, puntualidad, seguridad, satisfacción y
          orgullo para quienes la integramos, satisfaciendo totalmente sus expectativas.</p>
      </div>
      <div class="image-container">
        <img src="assets/img/mission_section.jpg" alt="Autobús azul y blanco">
      </div>
    </div>
  </section>

  <!-- Vision Section -->
  <section class="section vision">
    <div class="content-container">
      <div class="image-container">
        <img src="assets/img/mission_section.jpg" alt="Flota de autobuses">
      </div>
      <div class="text-content">
        <h1>Visión</h1>
        <p>Ser una empresa de clase internacional que brinde soluciones de viaje,
          adecuadas a sus clientes facilitándole la adquisición de estos a través de los
          diferentes medios a que los clientes tengan acceso. Asegurando la satisfacción
          de nuestros usuarios; promoviendo la cultura de mejora continua y el
          desarrollo integral de nuestros colaboradores, así como la competitividad en
          el mercado.</p>
      </div>
    </div>
  </section>
</div>

