


<!-- header area -->
<!-- header area end -->


<main class="home-3 main">

  <!-- hero slider -->
  <div class="hero-section hero-slider owl-carousel owl-theme owl-loaded owl-drag">
    <div class="owl-stage-outer">
      <div class="owl-stage" style="transform: translate3d(-7608px, 0px, 0px); transition: 0.25s; width: 13314px;">
        <div class="owl-item cloned" style="width: 1903px; margin-right: -1px;">
          <div class="hero-single" style="background-image: url(assets/img/breadcrumbs-01.jpg)">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-7 col-lg-7">
                  <div class="hero-content">
                    <h6 class="hero-sub-title wow animate__ animate__fadeInUp animated" data-wow-duration="1s"
                        data-wow-delay=".25s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.25s; animation-name: fadeInUp;">
                      Explore Your Travel</h6>
                    <h1 class="hero-title wow animate__ animate__fadeInUp animated" data-wow-duration="1s"
                        data-wow-delay=".50s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
                      Travelling Around The World
                    </h1>
                    <p class="wow animate__ animate__fadeInUp animated" data-wow-duration="1s" data-wow-delay=".75s"
                       style="visibility: visible; animation-duration: 1s; animation-delay: 0.75s; animation-name: fadeInUp;">
                      There are many variations of passages available but the majority have suffered
                      alteration in some form by injected humour or randomised words.
                    </p>
                    <div class="hero-btn wow animate__ animate__fadeInUp animated" data-wow-duration="1s"
                         data-wow-delay="1s"
                         style="visibility: visible; animation-duration: 1s; animation-delay: 1s; animation-name: fadeInUp;">
                      <a href="contact.html" class="theme-btn">Contact Us <i class="far fa-arrow-right"></i></a>
                      <a href="about.html" class="theme-btn border-btn">About Us <i class="far fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-item cloned" style="width: 1903px; margin-right: -1px;">
          <div class="hero-single" style="background-image: url(assets/img/breadcrumbs-01.jpg)">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-7 col-lg-7">
                  <div class="hero-content">
                    <h6 class="hero-sub-title wow animate__ animate__fadeInUp animated" data-wow-duration="1s"
                        data-wow-delay=".25s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.25s; animation-name: fadeInUp;">
                      Explore Your Travel</h6>
                    <h1 class="hero-title wow animate__ animate__fadeInUp animated" data-wow-duration="1s"
                        data-wow-delay=".50s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
                      Travelling Around The World
                    </h1>
                    <p class="wow animate__ animate__fadeInUp animated" data-wow-duration="1s" data-wow-delay=".75s"
                       style="visibility: visible; animation-duration: 1s; animation-delay: 0.75s; animation-name: fadeInUp;">
                      There are many variations of passages available but the majority have suffered
                      alteration in some form by injected humour or randomised words.
                    </p>
                    <div class="hero-btn wow animate__ animate__fadeInUp animated" data-wow-duration="1s"
                         data-wow-delay="1s"
                         style="visibility: visible; animation-duration: 1s; animation-delay: 1s; animation-name: fadeInUp;">
                      <a href="contact.html" class="theme-btn">Contact Us <i class="far fa-arrow-right"></i></a>
                      <a href="about.html" class="theme-btn border-btn">About Us <i class="far fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-item" style="width: 1903px; margin-right: -1px;">
          <div class="hero-single" style="background-image: url(assets/img/breadcrumbs-01.jpg)">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-7 col-lg-7">
                  <div class="hero-content">
                    <h6 class="hero-sub-title wow animate__ animate__fadeInUp animated" data-wow-duration="1s"
                        data-wow-delay=".25s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.25s; animation-name: fadeInUp;">
                      Explore Your Travel</h6>
                    <h1 class="hero-title wow animate__ animate__fadeInUp animated" data-wow-duration="1s"
                        data-wow-delay=".50s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
                      Travelling Around The World
                    </h1>
                    <p class="wow animate__ animate__fadeInUp animated" data-wow-duration="1s" data-wow-delay=".75s"
                       style="visibility: visible; animation-duration: 1s; animation-delay: 0.75s; animation-name: fadeInUp;">
                      There are many variations of passages available but the majority have suffered
                      alteration in some form by injected humour or randomised words.
                    </p>
                    <div class="hero-btn wow animate__ animate__fadeInUp animated" data-wow-duration="1s"
                         data-wow-delay="1s"
                         style="visibility: visible; animation-duration: 1s; animation-delay: 1s; animation-name: fadeInUp;">
                      <a href="contact.html" class="theme-btn">Contact Us <i class="far fa-arrow-right"></i></a>
                      <a href="about.html" class="theme-btn border-btn">About Us <i class="far fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-item" style="width: 1903px; margin-right: -1px;">
          <div class="hero-single" style="background-image: url(assets/img/breadcrumbs-01.jpg)">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-7 col-lg-7">
                  <div class="hero-content">
                    <h6 class="hero-sub-title wow animate__ animate__fadeInUp animated" data-wow-duration="1s"
                        data-wow-delay=".25s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.25s; animation-name: fadeInUp;">
                      Explore Your Travel</h6>
                    <h1 class="hero-title wow animate__ animate__fadeInUp animated" data-wow-duration="1s"
                        data-wow-delay=".50s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
                      Travelling Around The World
                    </h1>
                    <p class="wow animate__ animate__fadeInUp animated" data-wow-duration="1s" data-wow-delay=".75s"
                       style="visibility: visible; animation-duration: 1s; animation-delay: 0.75s; animation-name: fadeInUp;">
                      There are many variations of passages available but the majority have suffered
                      alteration in some form by injected humour or randomised words.
                    </p>
                    <div class="hero-btn wow animate__ animate__fadeInUp animated" data-wow-duration="1s"
                         data-wow-delay="1s"
                         style="visibility: visible; animation-duration: 1s; animation-delay: 1s; animation-name: fadeInUp;">
                      <a href="contact.html" class="theme-btn">Contact Us <i class="far fa-arrow-right"></i></a>
                      <a href="about.html" class="theme-btn border-btn">About Us <i class="far fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-item active" style="width: 1903px; margin-right: -1px;">
          <div class="hero-single" style="background-image: url(assets/img/breadcrumbs-01.jpg)">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-7 col-lg-7">
                  <div class="hero-content">
                    <h6 class="hero-sub-title wow animate__ animate__fadeInUp animated" data-wow-duration="1s"
                        data-wow-delay=".25s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.25s; animation-name: fadeInUp;">
                      Aquí inicia tu viaje</h6>
                    <h1 class="hero-title wow animate__ animate__fadeInUp animated" data-wow-duration="1s"
                        data-wow-delay=".50s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
                      Alrededor del mundo
                    </h1>
                    <div class="hero-btn wow animate__ animate__fadeInUp animated" data-wow-duration="1s"
                         data-wow-delay="1s"
                         style="visibility: visible; animation-duration: 1s; animation-delay: 1s; animation-name: fadeInUp;">
                      <a (click)="scrollToElement(destinationsArea)" class="theme-btn">Nuestros destinos <i
                        class="far fa-arrow-right"></i></a>
                      <a (click)="scrollToElement(searchArea, 'center')" class="theme-btn border-btn">Compra tu boleto<i
                        class="far fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="owl-nav">
      <div class="owl-prev"><i class="far fa-arrow-left"></i></div>
      <div class="owl-next"><i class="far fa-arrow-right"></i></div>
    </div>
    <div class="owl-dots disabled"></div>
  </div>
  <!-- hero slider end -->


  <!-- search area -->
  <div #searchArea class="search-area">
    <div class="container">
      <div class="search-form-wrapper">
        <form action="#">
          <div class="row justify-content-between align-items-end">
            <div class="col-md-6 col-lg-3 search-input">
              <div class="form-group">
                <label>Origen</label>
                <input type="text" class="form-control" placeholder="Escribe un origen">
                <div><i class="far fa-map-marker-alt"></i></div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 search-input">
              <div class="form-group">
                <label>Destino</label>
                <input type="text" class="form-control" placeholder="Escribe un destino">
                <div><i class="far fa-map-marker-alt"></i></div>
              </div>
            </div>
            <div class="col-md-6 col-lg-2 search-input">
              <div class="form-group">
                <label>Salida</label>
                <input type="text" class="form-control date-picker" placeholder="MM / DD / YY">
                <div><i class="far fa-calendar-alt"></i></div>
              </div>
            </div>
            <div class="col-md-6 col-lg-2 search-input">
              <div class="form-group">
                <label>Regreso</label>
                <input type="text" class="form-control date-picker" placeholder="MM / DD / YY">
                <div><i class="far fa-calendar-alt"></i></div>
              </div>
            </div>
            <div class="col-md-6 col-lg-2 search-input">
              <button type="submit" class="search-btn"><i class="far fa-search"></i> Buscar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- search area end -->

  <div class="about-area pt-120 ">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="about-left">
            <div class="about-img">
              <img src="assets/img/aboutUs.jpg" alt="">
            </div>
            <div class="about-left-content">
              <h5>6+</h5>
              <span>Años de experiencia</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-right">
            <div class="site-header">
              <span class="site-title-tagline">Sobre nosotros</span>
              <h2 class="site-title">Conectándote con el mundo con la mejor comodidad</h2>
            </div>
            <p class="about-text">En Fenix Tex, nos dedicamos al transporte terrestre de pasajeros,
              conectando Chihuahua, Chih., con importantes destinos en Estados Unidos, como Odessa, Dallas y McKinney,
              TX. Nuestro compromiso es ofrecer un servicio de alta calidad, garantizando puntualidad, seguridad y
              comodidad en cada viaje.</p>
            <a href="/about-us" class="theme-btn">Descubrir más <i class="far fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- destination area -->
  <div #destinationsArea id="destinations-area" class="destination-area3 pt-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center">
            <span class="site-title-tagline">Destinos</span>
            <h2 class="site-title">Nuestros destinos</h2>
          </div>
        </div>
      </div>

      <div class="row align-items-center">
        @for (destination of destinations; track $index){
          <app-destination-card class="col-md-6 col-lg-3" [destination]="destination"></app-destination-card>
        }
      </div>

    </div>
  </div>
  <!-- destination area end -->


  <!-- tour area -->
<!--  <div class="tour-area py-120">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-6 mx-auto">-->
<!--          <div class="site-heading text-center">-->
<!--            <span class="site-title-tagline">Rutas</span>-->
<!--            <h2 class="site-title">Nuestras rutas</h2>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row align-items-center">-->
<!--        <div class="col-md-6 col-lg-4">-->
<!--          <div class="tour-item">-->
<!--            <div class="tour-img">-->
<!--              <span class="tour-sale">Sale</span>-->
<!--              <img src="images/tour-1.jpg" alt="">-->
<!--              <a href="#" class="tour-wish"><i class="far fa-heart"></i></a>-->
<!--            </div>-->
<!--            <div class="tour-meta">-->
<!--              <ul>-->
<!--                <li><i class="far fa-clock"></i> 7D/6N</li>-->
<!--                <li><i class="far fa-user-friends"></i> 7 Person</li>-->
<!--                <li><i class="far fa-map-marker-alt"></i> Paris</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="tour-info">-->
<!--              <a href="#">-->
<!--                <h5>Paris - All Stunning</h5>-->
<!--              </a>-->
<!--              <div class="tour-rating">-->
<!--                <i class="fas fa-star"></i>-->
<!--                <i class="fas fa-star"></i>-->
<!--                <i class="fas fa-star"></i>-->
<!--                <i class="fas fa-star"></i>-->
<!--                <i class="fas fa-star"></i>-->
<!--                <span>(25 Reviews)</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="tour-footer">-->
<!--              <div class="tour-price">-->
<!--                $1,500 <small>/per person</small>-->
<!--              </div>-->
<!--              <a href="#" class="tour-btn">Book Now <i class="far fa-arrow-right"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-md-6 col-lg-4">-->
<!--          <div class="tour-item">-->
<!--            <div class="tour-img">-->
<!--              <img src="images/tour-2.jpg" alt="">-->
<!--              <a href="#" class="tour-wish"><i class="far fa-heart"></i></a>-->
<!--            </div>-->
<!--            <div class="tour-meta">-->
<!--              <ul>-->
<!--                <li><i class="far fa-clock"></i> 7D/6N</li>-->
<!--                <li><i class="far fa-user-friends"></i> 7 Person</li>-->
<!--                <li><i class="far fa-map-marker-alt"></i> Paris</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="tour-info">-->
<!--              <a href="#">-->
<!--                <h5>Paris - All Stunning</h5>-->
<!--              </a>-->
<!--              <div class="tour-rating">-->
<!--                <i class="fas fa-star"></i>-->
<!--                <i class="fas fa-star"></i>-->
<!--                <i class="fas fa-star"></i>-->
<!--                <i class="fas fa-star"></i>-->
<!--                <i class="fas fa-star"></i>-->
<!--                <span>(25 Reviews)</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="tour-footer">-->
<!--              <div class="tour-price">-->
<!--                $1,500 <small>/per person</small>-->
<!--              </div>-->
<!--              <a href="#" class="tour-btn">Book Now <i class="far fa-arrow-right"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-md-6 col-lg-4">-->
<!--          <div class="tour-item">-->
<!--            <div class="tour-img">-->
<!--              <img src="images/tour-3.jpg" alt="">-->
<!--              <a href="#" class="tour-wish"><i class="far fa-heart"></i></a>-->
<!--            </div>-->
<!--            <div class="tour-meta">-->
<!--              <ul>-->
<!--                <li><i class="far fa-clock"></i> 7D/6N</li>-->
<!--                <li><i class="far fa-user-friends"></i> 7 Person</li>-->
<!--                <li><i class="far fa-map-marker-alt"></i> Paris</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="tour-info">-->
<!--              <a href="#">-->
<!--                <h5>Paris - All Stunning</h5>-->
<!--              </a>-->
<!--              <div class="tour-rating">-->
<!--                <i class="fas fa-star"></i>-->
<!--                <i class="fas fa-star"></i>-->
<!--                <i class="fas fa-star"></i>-->
<!--                <i class="fas fa-star"></i>-->
<!--                <i class="fas fa-star"></i>-->
<!--                <span>(25 Reviews)</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="tour-footer">-->
<!--              <div class="tour-price">-->
<!--                $1,500 <small>/per person</small>-->
<!--              </div>-->
<!--              <a href="#" class="tour-btn">Book Now <i class="far fa-arrow-right"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <!-- tour area end -->


  <!-- counter area -->
  <div class="counter-area pt-50 pb-50 mt-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-sm-6">
          <div class="counter-box">
            <div class="icon"><i class="fal fa-user-friends"></i></div>
            <span class="counter" data-count="+" data-to="30" data-speed="3000">5</span>
            <h6 class="title">+ Viajes a la semana</h6>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="counter-box">
            <div class="icon"><i class="fal fa-users-class"></i></div>
            <span class="counter" data-count="+" data-to="600" data-speed="3000">400</span>
            <h6 class="title">+ Clientes semanales</h6>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="counter-box">
            <div class="icon"><i class="fal fa-hands-heart"></i></div>
            <span class="counter" data-count="+" data-to="25" data-speed="3000">6</span>
            <h6 class="title">+ Años de experiencia</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- counter area end -->


  <!-- guide-area -->

  <!-- guide-area end -->


  <!-- cta area -->
  <div class="cta-area">
    <div class="container">
      <div class="cta-content">
        <h2>Obten un precio <span> preferencial </span> </h2>
        <p>Comprando tu boleto en preventa</p>
        <a (click)="scrollToElement(searchArea, 'center')"> Compra tu boleto ahora <i class="far fa-long-arrow-right"></i></a>
      </div>
    </div>
  </div>
  <!-- cta area end -->


  <!-- testimonial-area -->
  <div class="testimonial-area py-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center">
            <span class="site-title-tagline">Testimonios</span>
            <h2 class="site-title">Que dicen nuestros clientes</h2>
          </div>
        </div>
      </div>
      <owl-carousel-o [options]="customOptions">

      </owl-carousel-o>
      <owl-carousel-o class="testimonial-slider" [options]="customOptions">
        @for (test of testimonials; track $index){
          <ng-template carouselSlide>
            <div class="testimonial-single" style="height: 15rem">
              <div class="testimonial-quote">
                <span class="testimonial-quote-icon"><i class="fal fa-quote-right"></i></span>
                <div class="testimonial-rate">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <p class="overflow-auto">
                  {{test.description}}
                </p>
              </div>
              <div class="testimonial-content">
                <div class="testimonial-author-info">
                  <h4>{{test.author}}</h4>
                  <p>Pasajero/a</p>
                </div>
              </div>
            </div>

          </ng-template>
        }
      </owl-carousel-o>
    </div>
  </div>
  <!-- testimonial-area end -->


  <!-- partner area -->
  <div class="partner-area">
    <div class="container">
      <div class="partner-wrapper partner-slider">
        <div class="row justify-content-center">
          <div class="col-lg-3 col-sm-6">
            <div class="counter-box" style="border: none;">
              <div class="icon"><i class="fal fa-snowflake"></i></div>
              <h6 class="title" style="color: whitesmoke">Aire acondicionado</h6>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="counter-box" style="border: none;">
              <div class="icon"><i class="fal fa-chair-office"></i></div>
              <h6 class="title" style="color: whitesmoke">Asientos reclinables</h6>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="counter-box" style="border: none;">
              <div class="icon"><i class="fa fa-headphones"></i></div>
              <h6 class="title" style="color: whitesmoke">Audio y conexiones electricas</h6>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="counter-box" style="border: none;">
              <div class="icon"><i class="fa fa-film-alt"></i></div>
              <h6 class="title" style="color: whitesmoke">Entretenimiento</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- partner area end -->


  <!-- blog-area -->
  <div class="blog-area py-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center">
            <span class="site-title-tagline">Comunicados</span>
            <h2 class="site-title">Mantente informado</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="blog-item">
            <div class="blog-item-thumb">
              <img src="assets/img/asistente.jpg" alt="Thumb">
            </div>
            <div class="blog-item-info">
              <div class="blog-item-meta">
                <ul>
                  <li><i class="far fa-calendar-alt"></i> 02 Mayo, 2025</li>
                </ul>
              </div>
              <h5><a href="#" class="blog-item-title">Contamos con atención al cliente las 24 horas</a></h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="blog-item">
            <div class="blog-item-thumb">
              <img class="object-fit-cover" src="https://tvazteca.brightspotcdn.com/e6/be/8bca73b34c22b43951e7280fff88/texas-amarillo.jpg" alt="Thumb">
            </div>
            <div class="blog-item-info">
              <div class="blog-item-meta">
                <ul>
                  <li><i class="far fa-calendar-alt"></i> 23 Feb, 2025</li>
                </ul>
              </div>
              <h5><a href="#" class="blog-item-title">¡Nuevo destino disponible! Amarillo TX</a></h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="blog-item">
            <div class="blog-item-thumb">
              <img src="assets/img/deal.jpg" alt="Thumb">
            </div>
            <div class="blog-item-info">
              <div class="blog-item-meta">
                <ul>
                  <li><i class="far fa-calendar-alt"></i> 15 Enero, 2025</li>
                </ul>
              </div>
              <h5><a href="#" class="blog-item-title">Aprovecha nuestras ofertas comprando la preventa de tu boleto</a></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- blog-area end -->


</main>


<!-- scroll-top -->
<a href="#" id="scroll-top"><i class="far fa-angle-double-up"></i></a>
<!-- scroll-top end -->

