<div class="pt-120 pb-120">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="terms-content">
          <h3>1. Validez y uso del boleto</h3>
          <p>
            Boleto válido únicamente para la fecha, hora, origen y destino del viaje impreso en el mismo.
            Verificar datos al adquirirlo.
            Este boleto ampara el seguro de viajero.
          </p>
        </div>
        <div class="terms-content">
          <h3>2. Cancelaciones y cambios</h3>
          <p>
            La cancelación solo podrá realizarla el interesado hasta con 48 horas de anticipación a la salida.
            Solo da derecho a cambio de fecha y hora del viaje, sujeto a un cargo por cambio.
            El costo del boleto no es reembolsable.
            Los boletos de viaje redondo tendrán una vigencia máxima de 30 días a partir de la fecha de compra.
          </p>
        </div>
        <div class="terms-content">
          <h3>3. Responsabilidad del transportista</h3>
          <p>
            No se hace responsable en caso de cancelación del viaje por caso fortuito, desastres naturales, fenómenos meteorológicos, perturbación de la paz civil y/o causas de fuerza mayor.
            En viajes internacionales, es responsabilidad del pasajero cumplir con los lineamientos y documentación necesaria para el cruce fronterizo.
            La empresa no será responsable por negativas de permiso que impidan al pasajero continuar su viaje.
          </p>
        </div>
        <div class="terms-content">
          <h3>4. Equipaje</h3>
          <p>La documentación del equipaje se hará con el operador 10 minutos antes de la salida, recibiendo una contraseña o ticket.
            Indemnización por pérdida de equipaje solo procede con documentación previa y mediante la contraseña o ticket entregado.
            La indemnización se limita a un valor máximo de 20 salarios mínimos diarios vigentes en el Distrito Federal, México.
            El transportista no es responsable del equipaje no documentado ni de pertenencias dentro del autobús.
            Equipaje permitido sin costo: 25 kg (56 libras) por pasajero, distribuido en 1 o 2 piezas.
            Equipaje o peso adicional está sujeto a un cargo estipulado por el transportista según origen y destino.:</p>
        </div>
        <div class="terms-content">
          <h3>5. Jurisdicción legal</h3>
          <p>
            La injerencia legal que todo lo anterior conlleve será en la Cd. de Chihuahua, Chih., México.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
